.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.formContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}
input {
  display: block;
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
}
button {
  cursor: pointer;
  background-color: #5BC0DE;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #244c58;
  color: #eee;
  font-weight: bold
}
